<h2>Michael's Blog Posts</h2>
<div class="flex flex-col">
<button type="submit" class="btn btn-primary"><a href="/post-new">ADD NEW POST</a></button>
</div>
<section>

    {{#each posts as |post|}}
    <article class="post">
        <div class="container-fluid dashboard-container">
            <div class="card-header dashboard-post">
                <h4 class="card-title post-title"><a class="link" href="/post/{{id}}">{{title}}</a></h4>
                <div class="card-body post-body">
                    <p class="card-body post-content">{{content}}</p>
                    <p class="card-text post-author">Posted by <span class="post-username">{{user.name}}</span> on
                        {{format_date post.date_created}}</p>
                </div>
            </div>
        </div>
    </article>
    {{/each}}

</section>