<!-- the landing page, the first screen they com eto -->

<h4> Michael Tech Blog</h4>
<h5> Read my Posts</h5>

<h6> there should be blog posts on this page</h6>

{{#each posts as |post| }}
<article class="post">
    <div class="container-fluid">
        <div class="card-header dashboard-post">
            <h4 class="card-title post-title"><a class="link" href="/post/{{post.id}}">{{post.title}}</a></h4>
            <div class="card-body post-body">
                <p class="card-body post-content">{{content}}</p>
                <p class="card-text post-author">Posted by <span class="post-username">{{user.name}}</span> on
                    {{format_date post.date_created}}</p>
            </div>
        </div>
    </div>
</article>
{{/each}}